# Docker
**/docker/build
**/docker/run

# Dev env
**/*-output.xml
**/.DS_Store
**/.bash_history
.vscode

# Testing files
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.svg
**/*.webp
**/*.bmp
**/*.tiff
**/*.tif
**/*.ico

photoapp-config.ini
web-service/
